<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            id="de.unisb.cs.esee.ui.fileContribution">
         <menu
               icon="resources/images/activateNewsIcon.png"
               id="de.unisb.cs.esee.ui.fileContextMenu"
               label="eSee"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Show News"
               class="de.unisb.cs.esee.ui.actions.ShowNewsContextAction"
               menubarPath="de.unisb.cs.esee.ui.fileContextMenu/group1"
               enablesFor="1"
               id="de.unisb.cs.esee.ui.showNewsAction">
         </action>
      </objectContribution>
      <objectContribution
            id="de.unisb.cs.esee.ui.compilationUnitContribution"
            objectClass="org.eclipse.jdt.core.ICompilationUnit">
         <menu
               icon="resources/images/activateNewsIcon.png"
               id="de.unisb.cs.esee.ui.javaElementContextMenu"
               label="eSee"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="de.unisb.cs.esee.ui.actions.ShowNewsContextAction"
               enablesFor="1"
               id="de.unisb.cs.esee.ui.showNewsAction"
               label="Show News"
               menubarPath="de.unisb.cs.esee.ui.javaElementContextMenu/group1">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="de.unisb.cs.esee.ui.resourceContribution"
            objectClass="org.eclipse.core.resources.IResource">
         <menu
               icon="resources/images/activateNewsIcon.png"
               id="de.unisb.cs.esee.ui.fileContextMenu"
               label="eSee"
               path="additions">
            <separator
                  name="group2">
            </separator>
         </menu>
         <action
               class="de.unisb.cs.esee.ui.actions.MarkResourceOKContextAction"
               enablesFor="1"
               id="de.unisb.cs.esee.ui.markOkAction"
               label="Mark as not new"
               menubarPath="de.unisb.cs.esee.ui.fileContextMenu/group2">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="de.unisb.cs.esee.ui.javaElementContribution"
            objectClass="org.eclipse.jdt.core.IJavaElement">
         <menu
               icon="resources/images/activateNewsIcon.png"
               id="de.unisb.cs.esee.ui.javaElementContextMenu"
               label="eSee"
               path="additions">
            <separator
                  name="group2">
            </separator>
         </menu>
         <action
               class="de.unisb.cs.esee.ui.actions.MarkResourceOKContextAction"
               enablesFor="1"
               id="de.unisb.cs.esee.ui.markOkAction"
               label="Mark as not new"
               menubarPath="de.unisb.cs.esee.ui.javaElementContextMenu/group2">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationImageProvider="de.unisb.cs.esee.ui.markers.RevisionAnnotationImageProvider"
            annotationType="de.unisb.cs.esee.ui.revAnnotation_0"
            colorPreferenceKey="de.unisb.cs.esee.ui.revAnnotation.cPrefKey_0"
            colorPreferenceValue="184,208,188"
            contributesToHeader="false"
            highlightPreferenceKey="de.unisb.cs.esee.ui.revAnnotation.highlightPrefKey_0"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="Revision Annotation 0"
            overviewRulerPreferenceKey="de.unisb.cs.esee.ui.revAnnotation.oRulerPrefKey_0"
            overviewRulerPreferenceValue="true"
            presentationLayer="3"
            textPreferenceKey="de.unisb.cs.esee.ui.revAnnotation.textPrefKey_0"
            textPreferenceValue="true"
            textStylePreferenceKey="de.unisb.cs.esee.ui.revAnnotation.testStylePrefKey_0"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="de.unisb.cs.esee.ui.revAnnotation.vRulerPrefKey_0"
            verticalRulerPreferenceValue="true">
      </specification>
      <specification
            annotationImageProvider="de.unisb.cs.esee.ui.markers.RevisionAnnotationImageProvider"
            annotationType="de.unisb.cs.esee.ui.revAnnotation_1"
            colorPreferenceKey="de.unisb.cs.esee.ui.revAnnotation.cPrefKey_1"
            colorPreferenceValue="194,215,198"
            contributesToHeader="false"
            highlightPreferenceKey="de.unisb.cs.esee.ui.revAnnotation.highlightPrefKey_1"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="Revision Annotation 1"
            overviewRulerPreferenceKey="de.unisb.cs.esee.ui.revAnnotation.oRulerPrefKey_1"
            overviewRulerPreferenceValue="true"
            presentationLayer="3"
            textPreferenceKey="de.unisb.cs.esee.ui.revAnnotation.textPrefKey_1"
            textPreferenceValue="true"
            textStylePreferenceKey="de.unisb.cs.esee.ui.revAnnotation.testStylePrefKey_1"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="de.unisb.cs.esee.ui.revAnnotation.vRulerPrefKey_1"
            verticalRulerPreferenceValue="true">
      </specification>
      <specification
            annotationImageProvider="de.unisb.cs.esee.ui.markers.RevisionAnnotationImageProvider"
            annotationType="de.unisb.cs.esee.ui.revAnnotation_2"
            colorPreferenceKey="de.unisb.cs.esee.ui.revAnnotation.cPrefKey_2"
            colorPreferenceValue="202,220,205"
            contributesToHeader="false"
            highlightPreferenceKey="de.unisb.cs.esee.ui.revAnnotation.highlightPrefKey_2"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="Revision Annotation 2"
            overviewRulerPreferenceKey="de.unisb.cs.esee.ui.revAnnotation.oRulerPrefKey_2"
            overviewRulerPreferenceValue="true"
            presentationLayer="3"
            textPreferenceKey="de.unisb.cs.esee.ui.revAnnotation.textPrefKey_2"
            textPreferenceValue="true"
            textStylePreferenceKey="de.unisb.cs.esee.ui.revAnnotation.testStylePrefKey_2"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="de.unisb.cs.esee.ui.revAnnotation.vRulerPrefKey_2"
            verticalRulerPreferenceValue="true">
      </specification>
      <specification
            annotationImageProvider="de.unisb.cs.esee.ui.markers.RevisionAnnotationImageProvider"
            annotationType="de.unisb.cs.esee.ui.revAnnotation_3"
            colorPreferenceKey="de.unisb.cs.esee.ui.revAnnotation.cPrefKey_3"
            colorPreferenceValue="210,224,212"
            contributesToHeader="false"
            highlightPreferenceKey="de.unisb.cs.esee.ui.revAnnotation.highlightPrefKey_3"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="Revision Annotation 3"
            overviewRulerPreferenceKey="de.unisb.cs.esee.ui.revAnnotation.oRulerPrefKey_3"
            overviewRulerPreferenceValue="true"
            presentationLayer="3"
            textPreferenceKey="de.unisb.cs.esee.ui.revAnnotation.textPrefKey_3"
            textPreferenceValue="true"
            textStylePreferenceKey="de.unisb.cs.esee.ui.revAnnotation.testStylePrefKey_3"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="de.unisb.cs.esee.ui.revAnnotation.vRulerPrefKey_3"
            verticalRulerPreferenceValue="true">
      </specification>
      <specification
            annotationImageProvider="de.unisb.cs.esee.ui.markers.RevisionAnnotationImageProvider"
            annotationType="de.unisb.cs.esee.ui.revAnnotation_4"
            colorPreferenceKey="de.unisb.cs.esee.ui.revAnnotation.cPrefKey_4"
            colorPreferenceValue="220,231,221"
            contributesToHeader="false"
            highlightPreferenceKey="de.unisb.cs.esee.ui.revAnnotation.highlightPrefKey_4"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="Revision Annotation 4"
            overviewRulerPreferenceKey="de.unisb.cs.esee.ui.revAnnotation.oRulerPrefKey_4"
            overviewRulerPreferenceValue="true"
            presentationLayer="3"
            textPreferenceKey="de.unisb.cs.esee.ui.revAnnotation.textPrefKey_4"
            textPreferenceValue="true"
            textStylePreferenceKey="de.unisb.cs.esee.ui.revAnnotation.testStylePrefKey_4"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="de.unisb.cs.esee.ui.revAnnotation.vRulerPrefKey_4"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerSeverity="0"
            markerType="de.unisb.cs.esee.ui.revMarker_0"
            name="de.unisb.cs.esee.ui.revAnnotation_0"
            super="org.eclipse.ui.workbench.texteditor.revisionAnnotation">
      </type>
      <type
            markerSeverity="0"
            markerType="de.unisb.cs.esee.ui.revMarker_1"
            name="de.unisb.cs.esee.ui.revAnnotation_1"
            super="org.eclipse.ui.workbench.texteditor.revisionAnnotation">
      </type>
      <type
            markerSeverity="0"
            markerType="de.unisb.cs.esee.ui.revMarker_2"
            name="de.unisb.cs.esee.ui.revAnnotation_2"
            super="org.eclipse.ui.workbench.texteditor.revisionAnnotation">
      </type>
      <type
            markerSeverity="0"
            markerType="de.unisb.cs.esee.ui.revMarker_3"
            name="de.unisb.cs.esee.ui.revAnnotation_3"
            super="org.eclipse.ui.workbench.texteditor.revisionAnnotation">
      </type>
      <type
            markerSeverity="0"
            markerType="de.unisb.cs.esee.ui.revMarker_4"
            name="de.unisb.cs.esee.ui.revAnnotation_4"
            super="org.eclipse.ui.workbench.texteditor.revisionAnnotation">
      </type>
   </extension>
   <extension
         id="de.unisb.cs.esee.ui.revMarker_1"
         name="Revision Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
   </extension>
   <extension
         id="de.unisb.cs.esee.ui.revMarker_2"
         name="Revision Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
   </extension>
   <extension
         id="de.unisb.cs.esee.ui.revMarker_3"
         name="Revision Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
   </extension>
   <extension
         id="de.unisb.cs.esee.ui.revMarker_4"
         name="Revision Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
   </extension>
   <extension
         id="de.unisb.cs.esee.ui.revMarker_0"
         name="Revision Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="de.unisb.cs.esee.ui.activateActionSet"
            label="eSee: Activate"
            visible="true">
         <menu
               id="de.unisb.cs.esee.ui.activateActionSet.menu"
               label="eSee">
            <separator
                  name="eseegroup">
            </separator>
         </menu>
         <action
               class="de.unisb.cs.esee.ui.actions.ActivateNewsUpdatesAction"
               icon="resources/images/activateNewsIcon.png"
               id="de.unisb.cs.esee.ui.activateActionSet.activateAction"
               label="Activate News Highlighting"
               menubarPath="de.unisb.cs.esee.ui.activateActionSet.menu/eseegroup"
               state="false"
               style="toggle"
               toolbarPath="eseegroup"
               tooltip="Activate highlighting of recently changed lines for version controlled files">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="de.unisb.cs.esee.ui.decorators.NewestResourcesDecorator"
            id="de.unisb.cs.esee.ui.newsdecorator"
            label="Resource Decorator"
            lightweight="true"
            location="TOP_RIGHT"
            state="true">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IResource">
               </objectClass>
               <or>
                  <objectClass
                        name="org.eclipse.core.resources.IProject">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.core.resources.IFile">
                  </objectClass>
               </or>
            </and>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.unisb.cs.esee.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="de.unisb.cs.esee.core.preferences.PreferencePage"
            class="de.unisb.cs.esee.ui.preferences.PreferencePage"
            id="de.unisb.cs.esee.ui.preferences.PreferencePage"
            name="UI">
      </page>
   </extension>

</plugin>
