<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            id="esee.ui.fileContribution">
         <menu
               label="eSee"
               path="additions"
               id="esee.ui.fileContextMenu">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Show News"
               class="esee.ui.actions.ShowNewsContextAction"
               menubarPath="esee.ui.fileContextMenu/group1"
               enablesFor="1"
               id="esee.ui.newAction">
         </action>
      </objectContribution>
      <objectContribution
            id="esee.ui.fileContribution"
            objectClass="org.eclipse.jdt.core.ICompilationUnit">
         <menu
               id="esee.ui.fileContextMenu"
               label="eSee"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="esee.ui.actions.ShowNewsContextAction"
               enablesFor="1"
               id="esee.ui.newAction"
               label="Show News"
               menubarPath="esee.ui.fileContextMenu/group1">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationImageProvider="esee.ui.markers.RevisionAnnotationImageProvider"
            annotationType="esee.ui.revAnnotation_0"
            colorPreferenceKey="esee.ui.revAnnotation.cPrefKey_0"
            colorPreferenceValue="216,170,117"
            contributesToHeader="false"
            highlightPreferenceKey="esee.ui.revAnnotation.highlightPrefKey_0"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="Revision Annotation 0"
            overviewRulerPreferenceKey="esee.ui.revAnnotation.oRulerPrefKey_0"
            overviewRulerPreferenceValue="true"
            presentationLayer="3"
            textPreferenceKey="esee.ui.revAnnotation.textPrefKey_0"
            textPreferenceValue="true"
            textStylePreferenceKey="esee.ui.revAnnotation.testStylePrefKey_0"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="esee.ui.revAnnotation.vRulerPrefKey_0"
            verticalRulerPreferenceValue="true">
      </specification>
      <specification
            annotationImageProvider="esee.ui.markers.RevisionAnnotationImageProvider"
            annotationType="esee.ui.revAnnotation_1"
            colorPreferenceKey="esee.ui.revAnnotation.cPrefKey_1"
            colorPreferenceValue="223,185,141"
            contributesToHeader="false"
            highlightPreferenceKey="esee.ui.revAnnotation.highlightPrefKey_1"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="Revision Annotation 1"
            overviewRulerPreferenceKey="esee.ui.revAnnotation.oRulerPrefKey_1"
            overviewRulerPreferenceValue="true"
            presentationLayer="3"
            textPreferenceKey="esee.ui.revAnnotation.textPrefKey_1"
            textPreferenceValue="true"
            textStylePreferenceKey="esee.ui.revAnnotation.testStylePrefKey_1"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="esee.ui.revAnnotation.vRulerPrefKey_1"
            verticalRulerPreferenceValue="true">
      </specification>
      <specification
            annotationImageProvider="esee.ui.markers.RevisionAnnotationImageProvider"
            annotationType="esee.ui.revAnnotation_2"
            colorPreferenceKey="esee.ui.revAnnotation.cPrefKey_2"
            colorPreferenceValue="234,204,168"
            contributesToHeader="false"
            highlightPreferenceKey="esee.ui.revAnnotation.highlightPrefKey_2"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="Revision Annotation 2"
            overviewRulerPreferenceKey="esee.ui.revAnnotation.oRulerPrefKey_2"
            overviewRulerPreferenceValue="true"
            presentationLayer="3"
            textPreferenceKey="esee.ui.revAnnotation.textPrefKey_2"
            textPreferenceValue="true"
            textStylePreferenceKey="esee.ui.revAnnotation.testStylePrefKey_2"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="esee.ui.revAnnotation.vRulerPrefKey_2"
            verticalRulerPreferenceValue="true">
      </specification>
      <specification
            annotationImageProvider="esee.ui.markers.RevisionAnnotationImageProvider"
            annotationType="esee.ui.revAnnotation_3"
            colorPreferenceKey="esee.ui.revAnnotation.cPrefKey_3"
            colorPreferenceValue="249,227,201"
            contributesToHeader="false"
            highlightPreferenceKey="esee.ui.revAnnotation.highlightPrefKey_3"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="Revision Annotation 3"
            overviewRulerPreferenceKey="esee.ui.revAnnotation.oRulerPrefKey_3"
            overviewRulerPreferenceValue="true"
            presentationLayer="3"
            textPreferenceKey="esee.ui.revAnnotation.textPrefKey_3"
            textPreferenceValue="true"
            textStylePreferenceKey="esee.ui.revAnnotation.testStylePrefKey_3"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="esee.ui.revAnnotation.vRulerPrefKey_3"
            verticalRulerPreferenceValue="true">
      </specification>
      <specification
            annotationImageProvider="esee.ui.markers.RevisionAnnotationImageProvider"
            annotationType="esee.ui.revAnnotation_4"
            colorPreferenceKey="esee.ui.revAnnotation.cPrefKey_4"
            colorPreferenceValue="249,239,227"
            contributesToHeader="false"
            highlightPreferenceKey="esee.ui.revAnnotation.highlightPrefKey_4"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="Revision Annotation 4"
            overviewRulerPreferenceKey="esee.ui.revAnnotation.oRulerPrefKey_4"
            overviewRulerPreferenceValue="true"
            presentationLayer="3"
            textPreferenceKey="esee.ui.revAnnotation.textPrefKey_4"
            textPreferenceValue="true"
            textStylePreferenceKey="esee.ui.revAnnotation.testStylePrefKey_4"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="esee.ui.revAnnotation.vRulerPrefKey_4"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerSeverity="0"
            markerType="esee.ui.revMarker_0"
            name="esee.ui.revAnnotation_0"
            super="org.eclipse.ui.workbench.texteditor.revisionAnnotation">
      </type>
      <type
            markerSeverity="0"
            markerType="esee.ui.revMarker_1"
            name="esee.ui.revAnnotation_1"
            super="org.eclipse.ui.workbench.texteditor.revisionAnnotation">
      </type>
      <type
            markerSeverity="0"
            markerType="esee.ui.revMarker_2"
            name="esee.ui.revAnnotation_2"
            super="org.eclipse.ui.workbench.texteditor.revisionAnnotation">
      </type>
      <type
            markerSeverity="0"
            markerType="esee.ui.revMarker_3"
            name="esee.ui.revAnnotation_3"
            super="org.eclipse.ui.workbench.texteditor.revisionAnnotation">
      </type>
      <type
            markerSeverity="0"
            markerType="esee.ui.revMarker_4"
            name="esee.ui.revAnnotation_4"
            super="org.eclipse.ui.workbench.texteditor.revisionAnnotation">
      </type>
   </extension>
   <extension
         id="esee.ui.revMarker_1"
         name="Revision Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
   </extension>
   <extension
         id="esee.ui.revMarker_2"
         name="Revision Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
   </extension>
   <extension
         id="esee.ui.revMarker_3"
         name="Revision Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
   </extension>
   <extension
         id="esee.ui.revMarker_4"
         name="Revision Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
   </extension>
   <extension
         id="esee.ui.revMarker_0"
         name="Revision Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="esee.ui.activateActionSet"
            label="eSee: Activate"
            visible="true">
         <menu
               id="esee.ui.activateActionSet.menu"
               label="eSee Actions">
            <separator
                  name="eseegroup">
            </separator>
         </menu>
         <action
               class="esee.ui.actions.ActivateNewsUpdatesAction"
               icon="resources/images/activateNewsIcon.png"
               id="esee.ui.activateActionSet.activateAction"
               label="Activate News Highlighting"
               menubarPath="esee.ui.activateActionSet.menu/eseegroup"
               state="false"
               style="toggle"
               toolbarPath="eseegroup"
               tooltip="Activate highlighting of recently changed lines for version controlled files">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="esee.ui.decorators.NewestResourcesDecorator"
            id="esee.ui.newsdecorator"
            label="Resource Decorator"
            lightweight="true"
            location="TOP_RIGHT"
            state="true">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IResource">
               </objectClass>
               <or>
                  <objectClass
                        name="org.eclipse.core.resources.IProject">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.core.resources.IFile">
                  </objectClass>
               </or>
            </and>
         </enablement>
      </decorator>
   </extension>

</plugin>
