<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.unisb.cs.esee.core.preferences.PreferencePage"
            id="de.unisb.cs.esee.core.preferences.PreferencePage"
            name="eSee Preferences">
      </page>
   </extension>

</plugin>
